* {
    border-style: dashed;
    border-color: black;
    margin: 2px;
    border: solid #000;
    border-width: 1px 1px;
    box-sizing: border-box;
}

/* Makes interactive header */
header{
    width: 100%;
    margin: 5px auto;
    padding: 5px;
    overflow: auto;
}

h1 {
    width: fit-content;
    display:inline-flex;
    margin: 5px;
    padding: 5px;
}  

.header{
    margin: 5px;
    padding: 5px;
    float: right;
}

.none {
    list-style-type: none;
}

.nav {
    display: inline-flex;
}

main {
    display: flex;
    flex-direction: column;
}

/* Sets perimeters of subtitle */

.display-block {
    display: block;
}

.subtitle {
    height: 100px;
}

.display-flex {
    display: flex;
}

/* Description box block */

.inline-block {
    display: inline-block;
}

.stretch {
    display: flex;
    align-items: stretch;
}

.wholewidth {
    width: 99%;
}

/* Contents */

.descriptor {
    width: 300px;
}

.content {
}

/* About Me */

.aboutme {
    height: 300px;
    display: flex;
    width: 99%;
}

/* Work */

.work {
    height: 800px;
}

.ul-work {
    padding: 0;
    display: flex;
}

.medium {
    height: 49%;
}

.center {
    justify-content: space-around;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.workitem {
    width
}

/* Contact Me */

.contactme {
    height: 250px;
}

